<p>Hello,</p>

<% if @party %>
  <p>You have been invited to join the <%= @party.title %> by the host himself!</p>
  <p>Do not hesitate and join us here:</p>
<% elsif @quotation %>
  <p>Your quotation for <%= @quotation.date %> has been <%= @quotation.status %> by our admins.</p>

  <% unless @quotation.custom_email_message.empty? %>
    <p>They have left you the following message afterwards:</p>
    <p>"<%= @quotation.custom_email_message %>"</p>
  <% end %>

  <p>Join us and proceed with your party organization from this link:</p>
<% end %>

<p><%= @url %></p>

<p>Best wishes,</p>
<p>Bachelor Party Sofia team</p>
